*{
    padding: 0;
    margin: 0;
    font-family: 'Comic Neue', cursive;
    font-family: 'Nova Square', sans-serif;
    font-weight: 100;
    align-items: center;
    text-align: center;
    color: white; 
}

body{
    background-color: #31304D;


}

.about{
    margin: 50px;
    padding: 50px;
}